﻿@model WheelOfFate.Presentation.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Wheel Of Fate - Designated Engineers</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Home</strong>
            </li>
        </ol>
    </div>
</div>

<div id="urls" data-upcoming="@Url.HttpRouteUrl("Api.Shifts.Upcoming", new { teamId = Model.TeamId })"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="col-xs-12">
                <div class="panel widget">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green pv-lg">
                            <div data-now="" data-format="MMMM" class="text-sm"></div>
                            <br />
                            <div data-now="" data-format="D" class="h2 mt0"></div>
                        </div>
                        <div class="col-xs-8 pv-lg">
                            <div data-now="" data-format="dddd" class="text-uppercase"></div>
                            <br />
                            <div data-now="" data-format="h:mm" class="h2 mt0"></div>
                            <div data-now="" data-format="a" class="text-muted text-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins" id="current-engineer-name">
                            
                        </h2>
                        <small>Jr. Engineer</small>
                    </div>
                    <img width="140" height="140" src="~/Content/images/unknown.jpg" class="img-circle circle-border m-b-md" alt="profile">
                    <div>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email:</label>
                                sample@mail.com
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Contact:</label>
                                (+121) 678 3462
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins" id="next-engineer-name">
                            
                        </h2>
                        <small>Sr. Engineer</small>
                    </div>
                    <img width="140" height="140" src="~/Content/images/unknown.jpg" class="img-circle circle-border m-b-md" alt="profile">
                    <div>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email:</label>
                                sample@mail.com
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Contact:</label>
                                (+121) 678 3462
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Upcoming Shifts</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="grid-upcoming-shifts" class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-column-id="Avatar" data-visible-in-selection="false" data-formatter="avatar"></th>
                                    <th data-column-id="EngineerName">Engineer</th>
                                    <th data-column-id="ShiftDate" data-formatter="date">Date</th>
                                    <th data-column-id="ShiftOrder" data-type="numeric">Order</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/bootgrid")
}


@section Scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/app/home")
}
