﻿
.bg-green {
    background-color: #37bc9b;
    color: #ffffff !important;
}

.pv-lg {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

    .row-table > [class*="col-"] {
        display: table-cell;
        float: none;
        table-layout: fixed;
        vertical-align: middle;
    }

.widget.panel, .widget .panel {
    overflow: hidden;
}

.widget {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
}

.text-sm {
    font-size: 11.9px;
}

[data-now] {
    display: inline-block;
}
